{
  "type": "mysql",
  "host": "localhost",
  "port": 3306,
  "username": "root",
  "password": "root",
  "database": "sf",
  "entities": ["dist/app/modules/*/models/*.entity.js"],
  "synchronize": true
}